fastapi
uvicorn[standard]
python-multipart
pillow
python-dotenv

# Pydantic
pydantic
pydantic-settings
email-validator

# OpenAI
openai

# Vector Search
qdrant-client

# Database
sqlalchemy
psycopg2-binary

# Authentication / Security
bcrypt
PyJWT[crypto]

# Cloudinary
cloudinary

# HTTP / Utilities
requests
numpy